{% extends('site/layout.html.twig') %}

{% block body %}
    <h1>Busca por: {{ term }}</h1>
    <hr>
    {% for p in posts %}
    <!-- Post -->
    <article class="post">
        <header>
            <div class="title">
                <h2><a href="{{ path('single', {'slug': p.slug}) }}">{{ p.title }}</a></h2>
                <p>{{ p.description }}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="{{ p.createdAt|date('Y-m-d') }}">{{ p.createdAt|date('F d, Y') }}</time>
                <a href="#" class="author"><span class="name">{{ p.author.firstName }}</span>
                    <img src="/site/images/avatar.jpg" alt="" />
                </a>
            </div>
        </header>
        <a href="#" class="image featured"><img src="/site/images/pic01.jpg" alt="" /></a>
        <p>

        </p>
        <footer>
            <ul class="actions">
                <li><a href="{{ path('single', {'slug': p.slug}) }}" class="button big">Ler Post</a></li>
            </ul>
        </footer>
    </article>
    {% endfor %}

    <!-- Pagination -->
    {{ knp_pagination_render(posts) }}
{% endblock %}