{% extends 'admin/admin_layout.html.twig' %}

{% block body %}
    <section class="content-header">
        <h1>
            Posts
            <small>Suas postagens</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

    {% include 'includes/messages.html.twig'%}
    <div class="col-md-12">
        <a href="{{ path('admin_post_new') }}" class="btn btn-success">
           <i class="fa fa-book"></i> Criar Post
        </a>
        <hr>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Titulo</th>
                <th>Categoria</th>
                <th>Criado Em</th>
                <th>Acões</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.id }}</td>
                    <td><a href="{{ path('admin_post_update', {'id': post.id}) }}">{{ post.title }}</a></td>
                    <td>
                        {#{% for c in post.categoryCollection %}#}
                            {#<strong>{{ c.name }}</strong>#}
                        {#{% endfor %}#}
                        {{ post.categoryCollection|join(', ') }}
                    </td>
                    <td>{{ post.createdAt|date('d/M/Y H:i:s') }}</td>
                    <td>
                        <a href="{{ path('admin_post_update', {'id': post.id}) }}" class="btn btn-sm btn-default">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="{{ path('admin_post_delete', {'id': post.id}) }}" class="btn btn-sm btn-danger">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
        <!-- Small boxes (Stat box) -->
    </section>
{% endblock %}